com.idega.egov.hub/src/java/com/idega/egov/hub/web/services/echo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- TODO - target namespace is probably inadequate here, discuss with Meelis to produce correct one -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ehubservice.x-road.ee/producer/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ehubservice.x-road.ee/producer/">

  <!-- Request-response declarations - start -->

  <element name="GetXFormLabelsRequest" type="tns:GetXFormLabelsRequest"></element>
  <element name="GetXFormLabelsResponse" type="tns:GetXFormLabelsResponse"></element>

  <element name="GetServiceListRequest" type="tns:GetServiceListRequest"></element>
  <element name="GetServiceListResponse" type="tns:GetServiceListResponse"></element>

  <element name="GetCaseListRequest" type="tns:GetCaseListRequest"></element>
  <element name="GetCaseListResponse" type="tns:GetCaseListResponse"></element>

  <element name="GetCaseDetailsRequest" type="tns:GetCaseDetailsRequest"></element>
  <element name="GetCaseDetailsResponse" type="tns:GetCaseDetailsResponse"></element>

  <element name="GetDocumentRequest" type="tns:GetDocumentRequest"></element>
  <element name="GetDocumentResponse" type="tns:GetDocumentResponse"></element>

  <element name="GetMessagesListRequest" type="tns:GetMessagesListRequest"></element>
  <element name="GetMessagesListResponse" type="tns:GetMessagesListResponse"></element>

  <element name="GetPrefilledDocumentRequest" type="tns:GetPrefilledDocumentRequest"></element>
  <element name="GetPrefilledDocumentResponse" type="tns:GetPrefilledDocumentResponse"></element>

  <element name="SubmitDocumentRequest" type="tns:SubmitDocumentRequest"></element>
  <element name="SubmitDocumentResponse" type="tns:SubmitDocumentResponse"></element>

  <element name="GetNotificationsRequest" type="tns:GetNotificationsRequest"></element>
  <element name="GetNotificationsResponse" type="tns:GetNotificationsResponse"></element>

  <!-- Request-response declarations - end -->

  <!-- Request-response types - start -->

  <complexType name="GetXFormLabelsRequest">
    <sequence>
      <element name="serviceProviderId" type="string"></element>
      <element name="xFormId" type="string"></element>
      <element name="lang" type="tns:langType">
        <annotation>
          <appinfo>Language in ISO format</appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <complexType name="GetXFormLabelsResponse">
    <sequence>
      <element name="labelPair" maxOccurs="unbounded" minOccurs="0">
        <complexType>
          <sequence>
            <element name="key" type="string">
              <annotation>
                <appinfo>Keyword for a label</appinfo>
              </annotation>
            </element>
            <element name="label" type="string">          
              <annotation>
                <appinfo>Translation for a given language and form</appinfo>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="GetServiceListRequest">
    <sequence>
      <element name="serviceProviderId" type="string"></element>
    </sequence>
  </complexType>

  <complexType name="GetServiceListResponse">
    <sequence>
      <element name="serviceEntry" maxOccurs="unbounded" minOccurs="0">
        <complexType>
          <sequence>
            <element name="id" type="string">
              <annotation>
                <appinfo>Used by the system to refer the service</appinfo>
              </annotation>
            </element>
            <element name="nameLabel" type="tns:labelType"></element>
            <element name="icon" type="base64Binary" maxOccurs="1" minOccurs="0"></element>          
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="GetCaseListRequest">
    <sequence>
      <element name="serviceProviderId" type="string"></element>
      <element name="citizenId" type="string">
        <annotation>
          <appinfo>Country specific identification number (i.e. personal code in Estonia)</appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <complexType name="GetCaseListResponse">
    <sequence>
      <element name="case" maxOccurs="unbounded" minOccurs="0">
        <complexType>
          <sequence>
            <element name="id" type="string">
              <annotation>
                <appinfo>Used by the system to refer to the case</appinfo>
              </annotation>
            </element>
            <element name="typeLabel" type="tns:labelType">
              <annotation>
                <appinfo>Identifies the type of the case (e.g. "Application for parking permit")</appinfo>
              </annotation>
            </element>          
            <element name="nameLabel" type="tns:labelType">
              <annotation>
                <appinfo>Identifies the particular case</appinfo>
              </annotation>
            </element>          
            <element name="statusLabel" type="tns:labelType">
              <annotation>
                <appinfo>Identifies the processing step of the case (e.g. "completed", "in progress", "waiting for clarifications")
                </appinfo>
              </annotation>
            </element>          
            <element name="lastOperationDate" type="date">
              <annotation>
                <appinfo>Indicates when the case was last time modified in the service provider system
                </appinfo>
              </annotation>
            </element>
            <element name="nextOperationTime" type="dateTime" minOccurs="0" maxOccurs="1">
              <annotation>
                <appinfo>Case next operation time indicates when is the last possible time 
                when the case will be modified in the system again
                </appinfo>
              </annotation>
            </element>          
            <element name="orgLabel" type="tns:labelType">
              <annotation>
                <appinfo>Identifies the organization that is currently responsible for handling the case
                </appinfo>
              </annotation>
            </element>          
            <element name="official" type="string">
              <annotation>
                <appinfo>Identifies person who is responsible for handling of the case at the moment
                </appinfo>
              </annotation>
            </element>          
            <element name="serviceId" type="string"></element>          
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="GetCaseDetailsRequest">
    <sequence>
      <element name="serviceProviderId" type="string"></element>
      <element name="caseId" type="string"></element>
    </sequence>
  </complexType>

  <complexType name="GetCaseDetailsResponse">
    <sequence>
      <element name="caseProcessingStep" maxOccurs="unbounded" minOccurs="0">
        <complexType>
          <sequence>
            <element name="stepId" type="string">
              <annotation>
                <appinfo>Used by system to identify case processing step</appinfo>
              </annotation>
            </element>          
            <element name="statusLabel" type="tns:labelType">
              <annotation>
                <appinfo>Contains the status of the case for this step</appinfo>
              </annotation>
            </element>          
            <element name="operationDate" type="date">
              <annotation>
                <appinfo>Indicates when was the operation performed</appinfo>
              </annotation>
            </element>      
            <element name="orgLabel" type="tns:labelType">
              <annotation>
                <appinfo>Indicates which organization performed the step</appinfo>
              </annotation>
            </element>          
            <element name="official" type="string">
              <annotation>
                <appinfo>Indicates which person performed the step</appinfo>
              </annotation>
            </element>          
            <element name="documentId" type="string" minOccurs="0" maxOccurs="1">
              <annotation>
                <appinfo>Identifies additional document that is associated with the processing step
                </appinfo>
              </annotation>
            </element>          
            <element name="stepName" type="string"></element>          
            <element name="stepUrl" type="string"></element>          
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="GetDocumentRequest">
    <sequence>
      <element name="serviceProviderId" type="string"></element>
      <element name="documentId" type="string"></element>
    </sequence>
  </complexType>

  <complexType name="GetDocumentResponse">
    <sequence>
      <element name="processingStep" maxOccurs="unbounded" minOccurs="0">
        <complexType>
          <sequence>
            <element name="document" type="base64Binary">
              <annotation>
                <appinfo>XML blob that contains the document</appinfo>
              </annotation>
            </element>
            <element name="xFormsTemplate" type="base64Binary">
              <annotation>
                <appinfo>XML blob that contains Xforms template for the document</appinfo>
              </annotation>
            </element>          
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="GetMessagesListRequest">
    <sequence>
      <element name="serviceProviderId" type="string"></element>
      <element name="citizenId" type="string">
        <annotation>
          <appinfo>Country specific identification number (i.e. personal code in Estonia)</appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <complexType name="GetMessagesListResponse">
    <sequence>
      <element name="message" maxOccurs="unbounded" minOccurs="0">
        <complexType>
          <sequence>
            <element name="id" type="string">
              <annotation>
                <appinfo>Used by the system to refer to the message</appinfo>
              </annotation>
            </element>          
            <element name="subject" type="string"></element>          
            <element name="body" type="string"></element>          
            <element name="date" type="date">
              <annotation>
                <appinfo>Indicates when the message was sent to the citizen</appinfo>
              </annotation>
            </element>          
            <element name="orgLabel" type="tns:labelType">
              <annotation>
                <appinfo>Identifies the organization that sent the message</appinfo>
              </annotation>
            </element>          
            <element name="official" type="string">
              <annotation>
                <appinfo>Identifies the person that sent the message</appinfo>
              </annotation>
            </element>          
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="GetPrefilledDocumentRequest">
    <sequence>
      <element name="citizenId" type="string"></element>
      <element name="serviceId" type="string"></element>
      <element name="languageId" type="tns:langType"></element>
    </sequence>
  </complexType>
 
  <complexType name="GetPrefilledDocumentResponse">
    <sequence>
      <!-- TODO - required or not? -->
      <element name="documentType" type="string" maxOccurs="1" minOccurs="0">
        <annotation>
          <appinfo>Associated document type that identifies the document type (Xforms specification)
          that is used to render the document to user
          </appinfo>
        </annotation>
      </element>
      <element name="document" type="base64Binary" maxOccurs="1" minOccurs="0">
        <annotation>
          <appinfo>XML blob that contains the prefilled document
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <complexType name="SubmitDocumentRequest">
    <sequence>
      <element name="citizenId" type="string"></element>
      <element name="serviceId" type="string"></element>
      <element name="languageId" type="string"></element>
      <element name="document" type="base64Binary">
        <annotation>
          <appinfo>XML document encoded as a blob</appinfo>
        </annotation>
      </element>
      <element name="stepId" type="string">
        <annotation>
          <appinfo>Step ID of a case process</appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <complexType name="SubmitDocumentResponse">
    <sequence>
      <element name="submissionStatusLabel" type="tns:labelType">
        <annotation>
          <appinfo>indicates the result of the operation ok or not ok. 
          And if possible the reason for error
          </appinfo>
        </annotation>
      </element>
      <element name="caseNameLabel" type="tns:labelType">
        <annotation>
          <appinfo>Contains the name of the case as will later shown in the case list 
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>

  <complexType name="GetNotificationsRequest"></complexType>

  <complexType name="GetNotificationsResponse">
    <sequence>
      <element name="notification" maxOccurs="unbounded" minOccurs="0">
        <complexType>
          <sequence>
            <element name="citizenId" type="string"></element>          
            <element name="textLabel" type="tns:labelType"></element>          
            <element name="caseId" type="string"></element>          
            <element name="orgLabel" type="tns:labelType">
              <annotation>
                <appinfo>Label of the organization sending the notification</appinfo>
              </annotation>
            </element>          
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <!-- Request-response types - end -->

  <!-- Re-usable types - start -->

  <complexType name="labelType">
    <sequence>
      <element name="lang" type="tns:langType"></element>
      <element name="text" type="string"></element>
    </sequence>
  </complexType>
  
  <simpleType name="langType">
    <restriction base="string">
      <!-- Allow exactly two letters! -->
      <pattern value="\\b[a-zA-Z]{2}\\b"></pattern>
    </restriction>
  </simpleType>

  <!-- Re-usable types - end -->

</schema>
