com.idega.egov.hub/src/java/com/idega/egov/hub/web/services/ehubservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ehubservice.ee.x-rd.net/producer/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ehubservice.ee.x-rd.net/producer/"
  xmlns:xrd="http://x-rd.net/xsd/xroad.xsd" targetNamespace="http://ehubservice.ee.x-rd.net/producer/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd"
      xmlns:tns="http://ehubservice.ee.x-rd.net/producer/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      targetNamespace="http://ehubservice.ee.x-rd.net/producer/">
      <import namespace="http://x-rd.net/xsd/xroad.xsd" schemaLocation="http://x-rd.net/xsd/xroad.xsd" />

      <!-- <import namespace="http://ws-i.org/profiles/basic/1.1/xsd" -->
      <!-- schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd" /> -->
      <!-- Request-response declarations - start -->

      <element name="GetXFormLabelsRequest" type="tns:GetXFormLabelsRequest"></element>
      <element name="GetXFormLabelsResponse" type="tns:GetXFormLabelsResponse"></element>

      <element name="GetServiceListRequest" type="tns:GetServiceListRequest"></element>
      <element name="GetServiceListResponse" type="tns:GetServiceListResponse"></element>

      <element name="GetCaseListRequest" type="tns:GetCaseListRequest"></element>
      <element name="GetCaseListResponse" type="tns:GetCaseListResponse"></element>

      <element name="GetCaseDetailsRequest" type="tns:GetCaseDetailsRequest"></element>
      <element name="GetCaseDetailsResponse" type="tns:GetCaseDetailsResponse"></element>

      <element name="GetDocumentRequest" type="tns:GetDocumentRequest"></element>
      <element name="GetDocumentResponse" type="tns:GetDocumentResponse"></element>

      <element name="GetMessagesListRequest" type="tns:GetMessagesListRequest"></element>
      <element name="GetMessagesListResponse" type="tns:GetMessagesListResponse"></element>

      <element name="GetPrefilledDocumentRequest" type="tns:GetPrefilledDocumentRequest"></element>
      <element name="GetPrefilledDocumentResponse" type="tns:GetPrefilledDocumentResponse"></element>

      <element name="SubmitDocumentRequest" type="tns:SubmitDocumentRequest"></element>
      <element name="SubmitDocumentResponse" type="tns:SubmitDocumentResponse"></element>

      <element name="GetNotificationsRequest" type="tns:GetNotificationsRequest"></element>
      <element name="GetNotificationsResponse" type="tns:GetNotificationsResponse"></element>

      <!-- Request-response declarations - end -->

      <!-- Request-response types - start -->

      <complexType name="GetXFormLabelsRequest">
        <sequence>
          <element name="serviceProviderId" type="string"></element>
          <element name="xFormId" type="string"></element>
          <element name="lang" type="tns:langType">
            <annotation>
              <appinfo>Language in ISO format</appinfo>
            </annotation>
          </element>
        </sequence>
      </complexType>

      <complexType name="GetXFormLabelsResponse">
        <sequence>
          <element name="labelPair" maxOccurs="unbounded" minOccurs="0">
            <complexType>
              <sequence>
                <element name="key" type="string">
                  <annotation>
                    <appinfo>Keyword for a label</appinfo>
                  </annotation>
                </element>
                <element name="label" type="string">
                  <annotation>
                    <appinfo>Translation for a given language and form</appinfo>
                  </annotation>
                </element>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>

      <complexType name="GetServiceListRequest">
        <sequence>
          <element name="serviceProviderId" type="string"></element>
        </sequence>
      </complexType>

      <complexType name="GetServiceListResponse">
        <sequence>
          <element name="serviceEntry" maxOccurs="unbounded" minOccurs="0">
            <complexType>
              <sequence>
                <element name="id" type="string">
                  <annotation>
                    <appinfo>Used by the system to refer the service</appinfo>
                  </annotation>
                </element>
                <element name="nameLabel" type="tns:labelType"></element>
                <element name="icon" type="base64Binary" maxOccurs="1" minOccurs="0"></element>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>

      <complexType name="GetCaseListRequest">
        <sequence>
          <element name="serviceProviderId" type="string"></element>
          <element name="citizenId" type="string">
            <annotation>
              <appinfo>Country specific identification number (i.e. personal
                code in Estonia)
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </complexType>

      <complexType name="GetCaseListResponse">
        <sequence>
          <element name="case" maxOccurs="unbounded" minOccurs="0">
            <complexType>
              <sequence>
                <element name="id" type="string">
                  <annotation>
                    <appinfo>Used by the system to refer to the case</appinfo>
                  </annotation>
                </element>
                <element name="typeLabel" type="tns:labelType">
                  <annotation>
                    <appinfo>Identifies the type of the case (e.g. "Application
                      for parking permit")
                    </appinfo>
                  </annotation>
                </element>
                <element name="nameLabel" type="tns:labelType">
                  <annotation>
                    <appinfo>Identifies the particular case</appinfo>
                  </annotation>
                </element>
                <element name="statusLabel" type="tns:labelType">
                  <annotation>
                    <appinfo>Identifies the processing step of the case (e.g.
                      "completed", "in
                      progress", "waiting for clarifications")
                    </appinfo>
                  </annotation>
                </element>
                <element name="lastOperationDate" type="date">
                  <annotation>
                    <appinfo>Indicates when the case was last time modified in
                      the
                      service provider
                      system
                    </appinfo>
                  </annotation>
                </element>
                <element name="nextOperationTime" type="dateTime" minOccurs="0" maxOccurs="1">
                  <annotation>
                    <appinfo>Case next operation time indicates when is the last
                      possible time
                      when
                      the case will be modified in the system
                      again
                    </appinfo>
                  </annotation>
                </element>
                <element name="orgLabel" type="tns:labelType">
                  <annotation>
                    <appinfo>Identifies the organization that is currently
                      responsible for handling
                      the case
                    </appinfo>
                  </annotation>
                </element>
                <element name="official" type="string">
                  <annotation>
                    <appinfo>Identifies person who is responsible for handling
                      of
                      the case at the
                      moment
                    </appinfo>
                  </annotation>
                </element>
                <element name="serviceId" type="string"></element>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>

      <complexType name="GetCaseDetailsRequest">
        <sequence>
          <element name="serviceProviderId" type="string"></element>
          <element name="caseId" type="string"></element>
        </sequence>
      </complexType>

      <complexType name="GetCaseDetailsResponse">
        <sequence>
          <element name="caseProcessingStep" maxOccurs="unbounded" minOccurs="0">
            <complexType>
              <sequence>
                <element name="stepId" type="string">
                  <annotation>
                    <appinfo>Used by system to identify case processing step
                    </appinfo>
                  </annotation>
                </element>
                <element name="statusLabel" type="tns:labelType">
                  <annotation>
                    <appinfo>Contains the status of the case for this step
                    </appinfo>
                  </annotation>
                </element>
                <element name="operationDate" type="date">
                  <annotation>
                    <appinfo>Indicates when was the operation performed
                    </appinfo>
                  </annotation>
                </element>
                <element name="orgLabel" type="tns:labelType">
                  <annotation>
                    <appinfo>Indicates which organization performed the step
                    </appinfo>
                  </annotation>
                </element>
                <element name="official" type="string">
                  <annotation>
                    <appinfo>Indicates which person performed the step</appinfo>
                  </annotation>
                </element>
                <element name="documentId" type="string" minOccurs="0" maxOccurs="1">
                  <annotation>
                    <appinfo>Identifies additional document that is associated
                      with the processing
                      step
                    </appinfo>
                  </annotation>
                </element>
                <element name="stepName" type="string"></element>
                <element name="stepUrl" type="string"></element>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>

      <complexType name="GetDocumentRequest">
        <sequence>
          <element name="serviceProviderId" type="string"></element>
          <element name="documentId" type="string"></element>
        </sequence>
      </complexType>

      <complexType name="GetDocumentResponse">
        <sequence>
          <element name="processingStep" maxOccurs="unbounded" minOccurs="0">
            <complexType>
              <sequence>
                <element name="document" type="base64Binary">
                  <annotation>
                    <appinfo>XML blob that contains the document</appinfo>
                  </annotation>
                </element>
                <element name="xFormsTemplate" type="base64Binary">
                  <annotation>
                    <appinfo>XML blob that contains Xforms template for the
                      document
                    </appinfo>
                  </annotation>
                </element>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>

      <complexType name="GetMessagesListRequest">
        <sequence>
          <element name="serviceProviderId" type="string"></element>
          <element name="citizenId" type="string">
            <annotation>
              <appinfo>Country specific identification number (i.e. personal
                code in Estonia)
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </complexType>

      <complexType name="GetMessagesListResponse">
        <sequence>
          <element name="message" maxOccurs="unbounded" minOccurs="0">
            <complexType>
              <sequence>
                <element name="id" type="string">
                  <annotation>
                    <appinfo>Used by the system to refer to the message
                    </appinfo>
                  </annotation>
                </element>
                <element name="subject" type="string"></element>
                <element name="body" type="string"></element>
                <element name="date" type="date">
                  <annotation>
                    <appinfo>Indicates when the message was sent to the citizen
                    </appinfo>
                  </annotation>
                </element>
                <element name="orgLabel" type="tns:labelType">
                  <annotation>
                    <appinfo>Identifies the organization that sent the message
                    </appinfo>
                  </annotation>
                </element>
                <element name="official" type="string">
                  <annotation>
                    <appinfo>Identifies the person that sent the message
                    </appinfo>
                  </annotation>
                </element>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>

      <complexType name="GetPrefilledDocumentRequest">
        <sequence>
          <element name="citizenId" type="string"></element>
          <element name="serviceId" type="string"></element>
          <element name="languageId" type="tns:langType"></element>
        </sequence>
      </complexType>

      <complexType name="GetPrefilledDocumentResponse">
        <sequence>
          <!-- TODO - required or not? -->
          <element name="documentType" type="string" maxOccurs="1" minOccurs="0">
            <annotation>
              <appinfo>Associated document type that identifies the document
                type (Xforms
                specification)
                that is used to render the document
                to user
              </appinfo>
            </annotation>
          </element>
          <element name="document" type="base64Binary" maxOccurs="1" minOccurs="0">
            <annotation>
              <appinfo>XML blob that contains the prefilled document
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </complexType>

      <complexType name="SubmitDocumentRequest">
        <sequence>
          <element name="citizenId" type="string"></element>
          <element name="serviceId" type="string"></element>
          <element name="languageId" type="string"></element>
          <element name="document" type="base64Binary">
            <annotation>
              <appinfo>XML document encoded as a blob</appinfo>
            </annotation>
          </element>
          <element name="stepId" type="string">
            <annotation>
              <appinfo>Step ID of a case process</appinfo>
            </annotation>
          </element>
        </sequence>
      </complexType>

      <complexType name="SubmitDocumentResponse">
        <sequence>
          <element name="submissionStatusLabel" type="tns:labelType">
            <annotation>
              <appinfo>indicates the result of the operation ok or not ok.
                And
                if
                possible the reason
                for error
              </appinfo>
            </annotation>
          </element>
          <element name="caseNameLabel" type="tns:labelType">
            <annotation>
              <appinfo>Contains the name of the case as will later shown in the
                case list
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </complexType>

      <complexType name="GetNotificationsRequest">
      </complexType>

      <complexType name="GetNotificationsResponse">
        <sequence>
          <element name="notification" maxOccurs="unbounded" minOccurs="0">
            <complexType>
              <sequence>
                <element name="citizenId" type="string"></element>
                <element name="textLabel" type="tns:labelType"></element>
                <element name="caseId" type="string"></element>
                <element name="orgLabel" type="tns:labelType">
                  <annotation>
                    <appinfo>Label of the organization sending the
                      notification
                    </appinfo>
                  </annotation>
                </element>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>

      <!-- Meta-services - start -->
      <element name="allowedMethodsRequest">
      </element>

      <element name="allowedMethodsResponse">
        <complexType>
          <sequence>
            <element name="response">
              <complexType>
                <sequence>
                  <element maxOccurs="unbounded" minOccurs="0" name="item" type="string" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <!-- Meta-services - end -->

      <!-- Request-response types - end -->

      <!-- Re-usable types - start -->

      <complexType name="labelType">
        <sequence>
          <element name="lang" type="tns:langType"></element>
          <element name="text" type="string"></element>
        </sequence>
      </complexType>

      <simpleType name="langType">
        <restriction base="string">
          <!-- Allow exactly two letters! -->
          <pattern value="\b[a-zA-Z]{2}\b"></pattern>
        </restriction>
      </simpleType>

      <!-- Re-usable types - end -->

    </schema>
  </wsdl:types>
  <wsdl:message name="SubmitDocumentRequest">
    <wsdl:part name="response" element="tns:SubmitDocumentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetXFormLabelsRequest">
    <wsdl:part name="response" element="tns:GetXFormLabelsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetServiceListRequest">
    <wsdl:part name="response" element="tns:GetServiceListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="xroadStandardHeader">
    <wsdl:part element="xrd:consumer" name="consumer">
    </wsdl:part>
    <wsdl:part element="xrd:producer" name="producer">
    </wsdl:part>
    <wsdl:part element="xrd:userId" name="userId">
    </wsdl:part>
    <wsdl:part element="xrd:id" name="id">
    </wsdl:part>
    <wsdl:part element="xrd:service" name="service">
    </wsdl:part>
    <wsdl:part element="xrd:issue" name="issue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDocumentRequest">
    <wsdl:part name="request" element="tns:GetDocumentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetXFormLabelsResponse">
    <wsdl:part name="response" element="tns:GetXFormLabelsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCaseDetailsResponse">
    <wsdl:part name="response" element="tns:GetCaseDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetNotificationsResponse">
    <wsdl:part name="response" element="tns:GetNotificationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPrefilledDocumentRequest">
    <wsdl:part name="request" element="tns:GetPrefilledDocumentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCaseDetailsRequest">
    <wsdl:part name="request" element="tns:GetCaseDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPrefilledDocumentResponse">
    <wsdl:part name="response" element="tns:GetPrefilledDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetServiceListResponse">
    <wsdl:part name="request" element="tns:GetServiceListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDocumentResponse">
    <wsdl:part name="response" element="tns:GetDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCaseListRequest">
    <wsdl:part name="request" element="tns:GetCaseListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCaseListResponse">
    <wsdl:part name="response" element="tns:GetCaseListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubmitDocumentResponse">
    <wsdl:part name="response" element="tns:SubmitDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetMessagesListResponse">
    <wsdl:part name="response" element="tns:GetMessagesListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetMessagesListRequest">
    <wsdl:part name="request" element="tns:GetMessagesListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetNotificationsRequest">
    <wsdl:part name="request" element="tns:GetNotificationsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="allowedMethodsRequest">
    <wsdl:part name="request" element="tns:allowedMethodsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="allowedMethodsResponse">
    <wsdl:part name="response" element="tns:allowedMethodsResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="ehubserviceporttype">
    <wsdl:operation name="GetNotifications">
      <wsdl:documentation>
        <xrd:title>GetNotifications</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:GetNotificationsRequest" name="GetNotificationsRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetNotificationsResponse" name="GetNotificationsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXFormLabels">
      <wsdl:documentation>
        <xrd:title>GetXFormLabels</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:GetXFormLabelsRequest" name="GetXFormLabelsRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetXFormLabelsResponse" name="GetXFormLabelsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseDetails">
      <wsdl:documentation>
        <xrd:title>GetCaseDetails</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:GetCaseDetailsRequest" name="GetCaseDetailsRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetCaseDetailsResponse" name="GetCaseDetailsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesList">
      <wsdl:documentation>
        <xrd:title>GetMessagesList</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:GetMessagesListRequest" name="GetMessagesListRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetMessagesListResponse" name="GetMessagesListResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitDocument">
      <wsdl:documentation>
        <xrd:title>SubmitDocument</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:SubmitDocumentRequest" name="SubmitDocumentRequest">
      </wsdl:input>
      <wsdl:output message="tns:SubmitDocumentResponse" name="SubmitDocumentResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrefilledDocument">
      <wsdl:documentation>
        <xrd:title>GetPrefilledDocument</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:GetPrefilledDocumentRequest" name="GetPrefilledDocumentRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetPrefilledDocumentResponse" name="GetPrefilledDocumentResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseList">
      <wsdl:documentation>
        <xrd:title>GetCaseList</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:GetCaseListRequest" name="GetCaseListRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetCaseListResponse" name="GetCaseListResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:documentation>
        <xrd:title>GetDocument</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:GetDocumentRequest" name="GetDocumentRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetDocumentResponse" name="GetDocumentResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceList">
      <wsdl:documentation>
        <xrd:title>GetServiceList</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:GetServiceListRequest" name="GetServiceListRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetServiceListResponse" name="GetServiceListResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allowedMethods">
      <wsdl:documentation>
        <xrd:title>allowedMethods</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:allowedMethodsRequest">
      </wsdl:input>
      <wsdl:output message="tns:allowedMethodsResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ehubservicebinding" type="tns:ehubserviceporttype">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNotifications">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input name="GetNotificationsRequest">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNotificationsResponse">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXFormLabels">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input name="GetXFormLabelsRequest">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetXFormLabelsResponse">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseDetails">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input name="GetCaseDetailsRequest">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCaseDetailsResponse">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesList">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input name="GetMessagesListRequest">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessagesListResponse">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitDocument">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input name="SubmitDocumentRequest">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:input>
      <wsdl:output name="SubmitDocumentResponse">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrefilledDocument">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input name="GetPrefilledDocumentRequest">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPrefilledDocumentResponse">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseList">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input name="GetCaseListRequest">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCaseListResponse">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input name="GetDocumentRequest">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDocumentResponse">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceList">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input name="GetServiceListRequest">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetServiceListResponse">
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allowedMethods">
      <soap:operation soapAction="" />
      <xrd:version>v1</xrd:version>
      <wsdl:input>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="consumer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="producer" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xroadStandardHeader" namespace="http://x-rd.net/xsd/xroad.xsd"
          part="issue" use="literal">
        </soap:header>
        <soap:body namespace="http://ehubservice.x-road.ee/producer/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ehubserviceService">
    <wsdl:port binding="tns:ehubservicebinding" name="ehubserviceSoap11">
      <soap:address location="http://TODO-SECURITYSERVER/cgi-bin/consumer_proxy" />
      <xrd:address producer="ehubservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>